*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /border: red 1px solid;
}
a {
    color: black;
    text-decoration: none;
}

/* main */
main {
    background-image: url(../assets/logo_test2.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 100%;
    
}
.title h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 2vh 0vw;
}
.line1 ul {
    display: flex;
}
.line1 img {
    height: 35vh;
}
.line1 ul li {
    margin: 0vh 3.5vw;
    border: solid purple 5px;
    background-color: blue;
    border-radius: 5px;
    margin-bottom: 5vh;
    
}
.line1 ul li p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.line2 ul {
    display: flex;
}
.line2 img {
    height: 35vh;
}
.line2 ul li {
    margin: 0vh 3.5vw;
    border: solid purple 5px;
    background-color: blue;
    border-radius: 5px;
    
}
.line2 ul li p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
