*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /border: red 1px solid;
}
a {
    color: black;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.3) ;
}
header img{
    height: 10vh;
}
header ul {
    display: flex;
    align-items: center;
}
header ul li {
    margin: 0 2vw;
    transition: 0.5s ease-in-out;
}
header ul li:hover {
    background: cornflowerblue;
    border-bottom: darkblue solid 3px;
}
header .search img {
    height: 5vh;
}
header .search{
    display: flex;
    align-items: center;
}
header .search input {
    margin-right: 1vw;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    width: 6vw;
}
header .search input:hover,
header .search input:focus {
    width: 20vw;
    background: lightskyblue;
}
header .search input:focus {
    outline: none;
}

.corps {
    background-image: url(/assets/KDA\ all\ out.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 100%; 
}
.bienvenue h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 2vh 0vw;
}
.article ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
.article ul li {
    margin: 0vh 5vw;
}
.article ul li img{
    height: 35vh;
}
.article ul li a {
    font-size: 25px;
    border: blanchedalmond solid 2px ;
    font-weight: bold;
}
.article ul .reduction{
    text-decoration: line-through ;
}
.article2 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
.article2 ul li {
    margin: 0vh 5vw;
}
.article2 ul li img{
    height: 35vh;
}
.article2 ul li a {
    font-size: 25px;
    border: blanchedalmond solid 2px ;
    font-weight: bold;
}
.article2 ul .reduction{
    text-decoration: line-through ;
}
.article3 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
.article3 ul li {
    margin: 0vh 5vw;
}
.article3 ul li img{
    height: 35vh;
}
.article3 ul li a {
    font-size: 25px;
    border: blanchedalmond solid 2px ;
    font-weight: bold;
}
.article3 ul .reduction{
    text-decoration: line-through ;
}

footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: black;
}
footer ul{
    display: flex;
    align-items: center;
}
footer img{
    width: 6vh;
}
footer ul li{
    padding: 0px 11vw;
}